

<%= form_with model:@list, local: true do |f| %>

<div>
    <%= f.label :title %>
    <br>
    <%= f.text_field :title %>
    <br><br>
</div>

<div>
    <%= f.label :note %>
    <br>
    <%= f.text_area :note %>
    <br><br>
</div>


<ul>
    <% Site.all.each do |site|  %>

    <li>
        <%= check_box_tag "sites_name[]", site.id, @list.sites.include?(site) %>
        <%= label_tag "#{site.name}"  %>
    </li>
    <% end %>
    
</ul>

<%= f.submit %>

<% end %>