

<h2><%= @list.title %> List:</h2>
<p>
<%= @list.note %>
</p>

<%= link_to "Edit", edit_list_path(@list.id)  %>
|
<%= link_to "Delete", list_path(@list.id),method:'delete' %>
<% if @current_user.isAdmin %>
|
[Created by: <%= @list.user.email %>]
<% end %>
<br>


<ul>
<% @list.sites.each do |site| %>

<li>
    <%= link_to site.name, site_path(site.id) %>
    <br>
</li>

<% end %>
</ul>


<% if @list.photos.present? %>
<hr>
<h3>Your Trip Photos</h3>

    <% @list.photos.each do |photo| %>
        <li>
            <%= image_tag photo.link, class:"list_photo" %>
            <%= link_to "Delete", photo_path(photo.id), method:"delete" %>
        </li>
    <% end %>
<% end %>

<%= form_with model:@photo, local:true do |f| %>
    <br>
    <%= hidden_field_tag "list_id", @list.id %>
   
    <%= f.submit "Add Your Trip Photo"%>
    <%= f.text_field :link, placeholder:"Photo Link" %>
<% end %>

<%= render partial: 'story' %>




