

<h2 class="title"><%= @list.title %></h2>

<%= link_to "edit", edit_list_path(@list.id), class:"material-symbols-outlined"  %>
|
<%= link_to "delete", list_path(@list.id),method:'delete', class:"material-symbols-outlined" %>
<% if @current_user.isAdmin %>
|
[Created by: <%= @list.user.email %>]
<% end %>
<br>


<em>
Note:
<%= simple_format( @list.note) %>
</em>




<ul>
<% @list.sites.each do |site| %>

<li>
    <%= link_to site.name, site_path(site.id) %>
    <br>
</li>

<% end %>
</ul>



<%= render partial: 'story' %>
<%= render partial: 'show_photo' %>







