

<h2>Login</h2>

<% if flash[:error] %>
    <br>
    <strong  style="color:red">
        <%= flash[:error] %>
    </strong>
    <br><br>
<% end %>

<%= form_with url: login_path, local:true, class:"container" do |f| %>

    <div>
        <%= f.label :email, 'Email Address' %>
        <br>
        <%= f.text_field :email%>
        <br><br>
    </div>
    
    <div>
        <%= f.label :password %>
        <br>
        <%= f.password_field :password %>
        <br><br>
    </div>
    

    <%= f.submit 'Login' %>
<% end %>
