
<% if @story.site.present? %>
<h2><%= @story.site.name %></h2>
<% end %>

<% if @story.list.present? %>
<h2><%= @story.list.title %></h2>
<% end %>


<em class="t_ctr">Your Story</em>

<%= form_with model:@story, local:true, class:"container" do |f| %>
    <div>
        <%= f.label :title %>
        <br>
        <%= f.text_field :title %>
        <br><br>
    </div>
    
    <div>
        <%= f.label :content %>
        <br>
        <%= f.text_area :content %>
        <br><br>
    </div>
    

    <%= f.submit class:"sub"%>
<% end %>