

<h2>Review for <%= @review.site.name %></h2>

Score: <%= @review.score %>
<br>
Comment: <%= simple_format(@review.comment) %>

Created by: <%= @review.user.email %>
<br><br>
<%= link_to "Delete", review_path(@review), method:"delete" %>