
<%= form_with model:@site, local: true do |f| %>

<div class="site_form">
    <%= f.label :name %>
    <br>
    <%= f.text_field :name, :required=>true, :disabled => @is_admin %>
    <br><br>
</div>

<div class="site_form">
    <%= f.label :location %>
    <br>
    <%= f.text_field :location,:disabled => @is_admin %>
    <br><br>
</div>

<div class="site_form">
    <%= f.label :coordinates %>
    <br>
    <%= f.text_field :coordinates,:disabled => @is_admin %>
    <br><br>
</div>

<div class="site_form">
    <%= f.label :price %>
    <br>
    <%= f.number_field :price,:disabled => @is_admin %>
    <br><br>
</div>

<div class="site_form">
    <%= f.label :link %>
    <br>
    <%= f.text_field :link,:disabled => @is_admin %>
    <br><br>
</div>

<div class="site_form">
    <%= f.label :powered %>
    <br>
    <%= f.select :powered, [["Yes",true],["No",false]],selected:false,:disabled => @is_admin %>
    <br><br>
</div>

<div class="site_form">
    <%= f.label :pets, "Pets Allowed" %>
    <br>
    <%= f.select :pets, [["Yes",true],["No",false]],selected:false ,:disabled => @is_admin%>
    <br><br>
</div>

<div class="site_form">
    <%= f.label :description %>
    <br>
    <%= f.text_area :description ,:disabled => @is_admin%>
    <br><br>
</div>

<% if @site.photos.length > 0 %>

   <% @site.photos.each do |photo| %>
        <%= label_tag "Photo Link" %>
        <br>
        <%= text_field_tag "photos[#{photo.id}]", photo.link ,:disabled => @is_admin%>
        <br><br>
   <% end %>
  
<% end %>


<div id="photo_link">
<br>
    <button type="button">
        Add Photo link
    </button>
</div>

   


<br><br>

<%= f.submit %>

<% end %>

