


    <hr>

    <ul>
        <% @site.photos.each do |photo| %>

            <% if photo.user_id == @current_user.id && !photo.isPublic%>
                <li>
                    <%= cl_image_tag(photo.link, :width => 600, :class => "site_photo") %>
                    <%= link_to "Delete", photo_path(photo.id), method:"delete" %>
                </li>
            <% end %>

        <% end%>
    </ul>

    
    

        <%= form_with model:@photo, local: true, html:{multipart:true} do |f| %>
    
            <%= hidden_field_tag "site_id", @site.id %>

            <%= f.label :isPublic,"Upload photos?" %>
            <br>
            <%= f.select :isPublic, [["Public",true],["Private",false]],selected:false %>
            <br><br>
           <button type="button" id="upload">Select Photos</button>
            <br><br>
            <% if flash.present? %>
                <strong class="error"><%= flash[:error] %></strong><br>
            <% end %>
            <div id="files"></div>
            <br>

            <%= f.submit "Upload"%>

        <% end %>
  
    

