


 
  
    <h4>Your Parivate Photos:</h4>
    <div class="up-photos">
        <ul class="list">
        <% @site.photos.each do |photo| %>

            <% if photo.user_id == @current_user.id && !photo.isPublic%>
                <li>
                    <%= cl_image_tag(photo.link, :width => 600, :class => "site_photo") %>
                    <%= link_to "delete", photo_path(photo.id), method:"delete", class:"material-symbols-outlined" %>
                </li>
            <% end %>

        <% end%>
    </ul>
    
    </div>
    

    
    

        <%= form_with model:@photo, local: true, html:{multipart:true},class:"site_info" do |f| %>
    
            <%= hidden_field_tag "site_id", @site.id %>

            <h4>Upload Photos</h4>
            
            <%= f.select :isPublic, [["Public",true],["Private",false]],selected:false %>
           
           <button type="button" id="upload">Select Photos</button>
            <br>
            <% if flash.present? %>
                <strong class="error"><%= flash[:error] %></strong><br>
            <% end %>
            <div id="files"></div>

            <%= f.submit "Upload", class:"sub"%>

        <% end %>
  
    

