

<% if @site.stories.present? %>
    
    <h4>Your Trip Story:</h4>
    <ul class="container">
        <% @site.stories.each do |story| %>
            <% if story.user_id == @current_user.id%>
            <li class="container_li">
                <strong>Title:</strong>
                <%= story.title %>
                <em>
                 <span class="material-symbols-outlined filled">calendar_month</span><%= story.updated_at.strftime("%d-%m-%y") %>
                </em>
                <br>
                <strong>Content:</strong>
                <%= simple_format(story.content) %>
              
                <%= link_to "edit", edit_story_path(story.id), class:"material-symbols-outlined" %>
                |
                <%= link_to "delete", story_path(story.id),method:"delete",class:"material-symbols-outlined" %>
                <br><br>
            </li>
            <% end %>
        <% end %>
    </ul>
<% end %>

<br>

 <input type="button" value="Add Private Story" class="show_form" id="story_form">

 <div id="show_story_form" style="display:none">
 
    <h4>Add New Story</h4>
    <%= form_with model:@story, local:true, class:"container" do |f| %>

        <%= hidden_field_tag "site_id", @site.id %>
        <div>
            <%= f.label :title %>
            <br>
            <%= f.text_field :title, required:true %>
            <br><br>
        </div>
        
        <div>
            <%= f.label :content %>
            <br>
            <%= f.text_area :content,required:true %>
            <br><br>
        </div>
        

        <%= f.submit class:"sub" %>

    <% end %>
 
 </div>
