
<h2>Add <%= @site.name %> to Your List</h2>

<%= form_with url:add_to_list_path, local:true do |f| %>

    <ul class="container">
    <% @lists.each do |list|%>
    
        <li>
            <%= check_box_tag "lists[]", list.id, list.sites.include?(@site) %>
            <%= label_tag list.title %>
        </li>

    <% end %>
    <li><%= link_to "add_box", new_list_path, class:"material-symbols-outlined" %>Create a New List</li>
    </ul>

    <%= f.submit "Submit" ,class:"sub", id:"list_btn" %>


<% end %>
<br>
