
<h1>All Camping Sites</h1>

<%= form_with url:"/search", local:true, class:"container" do |f| %>

<h3>Search Camping Site</h3>
    <%= f.text_field :search %>
    <%= f.submit "Search"%>

<% end %>


    <% if @rlts.present? %>
        <ul class="container">
        <% @rlts.each do |r|%>
            <li>

        <%= link_to r.name, site_path(r) %>

             </li>
        <% end %>
        </ul>
    <% else%>
    <h6>No Result!</h6> 
    <% end %>
  

<ul>

    <% @sites.each do |site| %>
        <li>
            <%= link_to site.name, site_path(site.id) %>
            <% if site.user.present? %>
            <em>[Created by: <%= site.user.name %>]</em>
            <% end %>
        </li>
    <% end %>

</ul>
