

<h2><%= @site.name %></h2>
<%= link_to "Add to My List", add_to_list_path %>
<br>
<% if @site.user.present? %>
    <em>Created by: <%= @site.user.name %></em>
    <br>
<% end %>
<% if @current_user.present? %>
    <% if @current_user == @site.user || @current_user.isAdmin %>
        <%= link_to "Edit", edit_site_path(@site) %>
    <% end %>

    <% if @current_user.isAdmin %>
        <%= link_to "Delete", site_path(@site),method:"delete" %>
    <% end %>
<% end %>

<% if flash[:error] %>
    <strong class="error"><%= flash[:error] %></strong>
<% end %>


<div class="site_info">
    <strong>Name:</strong>
    <p><%= @site.name %></p>
</div>

<div class="site_info">
    <strong>Location:</strong>
    <p><%= @site.location %></p>
</div>

<div class="site_info">
    <strong>Coordinates:</strong>
    <p><%= @site.coordinates %></p>
</div>

<div class="site_info">
    <strong>Price:</strong>
    <p><%= @site.price == 0 ? 'FREE' : "$ #{@site.price}" %></p>
</div>

<div class="site_info">
    <strong>Link:</strong>
    <p> <%= link_to @site.link, @site.link %></p>
</div>

<div class="site_info">
    <strong>Powered Site:</strong>
    <p><%= @site.powered ? 'Yes' : 'No' %></p>
</div>

<div class="site_info">
    <strong>Pets Allowed:</strong>
    <p><%= @site.pets ? 'Yes' : 'No' %></p>
</div>

<div class="site_info">
    <strong>Description:</strong>
    <p><%= simple_format(@site.description) %></p>
</div>

<% if @site.photos.present? %>
    <div class="site_info">
        <strong>Photos:</strong>
        <ul>
            <% @site.photos.each do |photo|%>
                <% if photo.isPublic %>
                <li><%= image_tag photo.link, alt:photo.name, class:"site_photo"%></li>
                <% end %>
            <% end %>
        </ul>
    </div>
<% end %>


<% if @site.reviews.present? %>
<hr>
    <div class="site_info">
        <strong>Reviews:</strong>
        <ul>
            <% @site.reviews.each do |review|%>
                <li>
                By: <%= review.user.name %>
                <br>
                <em>
                on: <%= review.updated_at.strftime("%d-%m-%y") %>
                </em>
                <br>
                <% if @current_user.present? && @current_user.id == review.user_id %>
                    <%= link_to "Edit", edit_review_path(review) %>
                    |
                    <%= link_to "Delete", review_path(review), method:"delete" %>
                <% end %>
                <br>
                Score: <%= review.score %>
                <br>
                Comment: <%= simple_format(review.comment) %>
                </li>
            <% end %>
        </ul>
    </div>

<% end %>

<% if !@current_user.present? %>
    <hr>    
        <strong style="color:red">Please Login to post the review, and add your private photos and story </strong>
<% end %>

<% if @current_user.present? %>
<hr>
<%= render partial: 'show_review' %>
<%= render partial: 'show_photo' %>
<%= render partial: 'story' %>

<% end %>