

<h2 class="title"><%= @site.name %></h2>
<% if @current_user.present? %>

<%= link_to "star", add_to_list_path, class:@isListed%>
<% end %>
<br>
<% if @site.user.present? %>
    <em>Created by: <%= @site.user.name %></em>
    <br>
<% end %>
<% if @current_user.present? %>
    <% if @current_user == @site.user || @current_user.isAdmin %>
        <%= link_to "edit", edit_site_path(@site), class:"material-symbols-outlined" %>
    <% end %>

    <% if @current_user.isAdmin %>
        <%= link_to "delete", site_path(@site),method:"delete",class:"material-symbols-outlined" %>
    <% end %>
<% end %>

<% if flash[:error] %>
    <br>
    <strong class="error"><%= flash[:error] %></strong>
<% end %>

<div class="container">
    <div class="site_info">
    <strong>Name:</strong>
    <p><%= @site.name %></p>
</div>

<div class="site_info">
    <strong>Location:</strong>
    <p><%= @site.location %></p>
</div>

<div class="site_info">
    <strong>Coordinates:</strong>
    <p><%= @site.coordinates %></p>
</div>

<div class="site_info">
    <strong>Price:</strong>
    <p><%= @site.price == 0 ? 'FREE' : "$ #{@site.price}" %></p>
</div>

<div class="site_info">
    <strong>Link:</strong>
    <p> <%= link_to @site.link, @site.link %></p>
</div>

<div class="site_info">
    <strong>Powered Site:</strong>
    <p><%= @site.powered ? 'Yes' : 'No' %></p>
</div>

<div class="site_info">
    <strong>Pets Allowed:</strong>
    <p><%= @site.pets ? 'Yes' : 'No' %></p>
</div>

<div class="site_info">
    <strong>Description:</strong>
    <p><%= simple_format(@site.description) %></p>
</div>

<div class="site_info">
    <strong>Map:</strong>
    <div class="map">
     <iframe src="https://www.google.com/maps/embed/v1/place?key=<%= ENV['MAP_API'] %>
    &q=<%= @site.name %>" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    
</div>

<div class="site_info photo">
    <% if @site.photos.present? %>
        <strong>Photos:</strong>
        <ul>
            <% @site.photos.each do |photo|%>
                <% if photo.isPublic %>
                <li>
    <div class="site_info_photo">
                <%= cl_image_tag(photo.link, :width => 600, :class => "site_photo") %>
                <% if @current_user == photo.user %>
                    <%= link_to "delete", photo_path(photo),method:"delete",class:"material-symbols-outlined" %>
                <% end %>
    </div>
    
               </li>
                <% end %>
            <% end %>
        </ul>
    <% end %>
</div>
</div>




<% if @site.reviews.present? %>
<hr>
    <div>
        <strong>Reviews:</strong>
        <ul class="container">
            <% @site.reviews.each do |review|%>
            <div id="site_review">
                <li class="review">
                <div class="author">
                By: <%= review.user.name %>
                
                <em>
                 <span class="material-symbols-outlined filled">calendar_month</span><%= review.updated_at.strftime("%d-%m-%y") %>
                </em>
                <% if @current_user.present? && @current_user.id == review.user_id %>
                    
                        <%= link_to "edit", edit_review_path(review), class:"material-symbols-outlined" %>
                    |
                    <%= link_to "delete", review_path(review), method:"delete",class:"material-symbols-outlined" %>
                   
                    
                <% end %>
                </div>
                
                
             
                Score: <%= review.score %>
                <br>
                Comment:<div class="comment"><%= simple_format(review.comment) %>
                </div>
                </li>
            
            </div>
                
            <% end %>
        </ul>
    </div>

<% end %>

<% if !@current_user.present? %>
    <hr>    
        <strong style="color:red">Please Login to share your story </strong>
<% end %>

<% if @current_user.present? %>

<%= render partial: 'show_review' %>
<hr>
<%= render partial: 'story' %>
<hr>
<%= render partial: 'show_photo' %>

<% end %>