<!DOCTYPE html>
<html>
  <head>
    <title>Camping Logbook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

  
    <%= cloudinary_js_config %>

    <script src="https://upload-widget.cloudinary.com/global/all.js" type="text/javascript">  
    </script>
   

  </head>

  <body>
    <header>
      <h1>Camping Logbook</h1>
      <nav>

      <% if @current_user.present? %>
        Welcome, <%= @current_user.name %>
        |
        <%= link_to "Logout", login_path,method:"delete"  %>
        |
        <% if @current_user.isAdmin %>
        <%= link_to "All Users", users_path %>
        |
        <%= link_to "All Photos", photos_path %>
        |
        <%= link_to "All Lists", lists_path %>
        |
        <%= link_to "All Stories", stories_path %>
        |
        <%= link_to "All Reviews", reviews_path %>
        <% end %>
      <% else %>
        <%= link_to "Login", login_path  %>
        |
        <%= link_to "Sign Up", new_user_path %>
      <% end %>
      <br>

      <%= link_to "Home", root_path %>
      |
      <%= link_to "All Camping sites", sites_path %>
      |
      <% if @current_user.present? %>
      <%= link_to "Add Camping sites", new_site_path %>
      |
      <%= link_to "My Lists", lists_path %>
      <% end %>
      </nav>
      <hr>
    </header>
    
    <main>
      <%= yield %>
    </main>

    <footer>
      <hr>
      &copy; Camping Fans Productions 2022
    </footer>

  </body>
</html>
