<!DOCTYPE html>
<html>
  <head>
    <title>Camping Logbook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header>
      <h1>Camping Logbook</h1>
      <nav>
      <%= link_to "Home", root_path %>
      |
      <%= link_to "All Camping sites", sites_path %>
      |
      <%= link_to "Add Camping sites", new_site_path %>
      </nav>
      <hr>
    </header>
    
    <main>
      <%= yield %>
    </main>

    <footer>
      <hr>
      &copy; Camping Fans Productions 2022
    </footer>

  </body>
</html>
